<h2>New Order</h2>
<%= render 'cart' %>
<%= render partial: 'fields', locals: {
                          path: orders_path,
                          method: :post,
                          button_name: 'Create Order'
                          } %>
